<%= form_for @product do |f| %>
  
  <% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited
      this product from being saved:</h2>
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
 
  <p>
    <%= f.label :stock_status %><br>
    <%= f.radio_button(:stock_status, "instock", :checked => @product.stock_status == "instock") %>
    <%= f.label(:stock_status_instock, "In stock") %>
    <%= f.radio_button(:stock_status, "outofstock", :checked => @product.stock_status == "outofstock") %>
    <%= f.label(:stock_status_outofstock, "Out of stock") %>
    <%= f.radio_button(:stock_status, "discontinued", :checked => @product.stock_status == "discontinued") %>
    <%= f.label(:stock_status_discontinued, "Discontinued") %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>