<div class="row editing">
    <div class="col-sm-12">
        <h2>Editing Sandthorn product</h2>

        <form accept-charset="UTF-8" action="/sandthorn/product/<%= @product.id %>/update" method="post">
          <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>

          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

        <div class="jumbotron clearfix">
            <div class="form-group clearfix">
                <label for="sandthorn_product_name" class="col-sm-2 ">Name</label>
                <div class="col-sm-10">
                    <input id="sandthorn_product_name" name="sandthorn_product[name]" type="text" class="form-control" placeholder="Name" value="<%= @product.name %>">
                </div>
            </div>
            <div class="form-group clearfix">
                <label for="sandthorn_product_price" class="col-sm-2 ">Price</label>
                <div class="col-sm-10">
                    <input id="sandthorn_product_price" name="sandthorn_product[price]" type="text" class="form-control" placeholder="Price" value="<%= @product.price %>">
                </div>
            </div>

            <div class="col-sm-7">
                <h4>Stock status</h4>
                <div class="btn-group btn-group-sm" data-toggle="buttons">
                    <label class="btn btn-success <%= 'active' if @product.stock_status == 'instock' %>">
                    <span id="sandthorn_product_stock_status_instock_icon" class="<%= 'glyphicon glyphicon-ok-circle' if @product.stock_status == 'instock' %>"></span>
                        <input <%= 'checked' if @product.stock_status == 'instock' %> id="sandthorn_product_stock_status_instock" class="stock_status" name="sandthorn_product[stock_status]" type="radio" value="instock"> In stock
                    </label>
                    <label class="btn btn-warning <%= 'active' if @product.stock_status == 'outofstock' %>">
                    <span id="sandthorn_product_stock_status_outofstock_icon" class="<%= 'glyphicon glyphicon-ban-circle' if @product.stock_status == 'outofstock' %>"></span>
                        <input <%= 'checked' if @product.stock_status == 'outofstock' %> id="sandthorn_product_stock_status_outofstock" class="stock_status" name="sandthorn_product[stock_status]" type="radio" value="outofstock"> Out of stock
                    </label>
                    <label class="btn btn-danger <%= 'active' if @product.stock_status == 'discontinued' %>">
                    <span id="sandthorn_product_stock_status_discontinued_icon" class="<%= 'glyphicon glyphicon-remove-circle' if @product.stock_status == 'discontinued' %>"></span>
                        <input <%= 'checked' if @product.stock_status == 'discontinued' %> id="sandthorn_product_stock_status_discontinued" class="stock_status" name="sandthorn_product[stock_status]" type="radio" value="discontinued"> Discontinued
                    </label>
                </div>
            </div>
            <div class="col-sm-5">
                <label>Tasked Based
                <input id="tasked_based" type="checkbox"></label>
                <input id="update_button" name="commit" type="submit" value="Update Product" class="btn btn-lg btn-block btn-success">
                
            </div>
        </div>
         </form>

        <%= link_to '<span class="glyphicon glyphicon-chevron-left"></span> Back'.html_safe, "/sandthorn/product/#{@product.id}", class: "btn btn-sm btn-primary"  %>
    </div>
</div>

<div id="log_events">
 <%= render 'log' %>
</div>

<script type="text/javascript">

    function update_log(){
        $.get("/sandthorn/log", {}, function(response){
            $("#log_events").html(response)
        });
    }

    $(document).ready(function(){

        $("#tasked_based").click(function() {
          if ($("#tasked_based").is(':checked'))
          {
            $("#update_button").hide();
          }
          else
          {
            $("#update_button").show();   
          }

        });
    

        $( "#sandthorn_product_name" ).change(function() {
          if ($("#tasked_based").is(':checked'))
          {
            params = { name: $("#sandthorn_product_name").val() };
            $.post("/sandthorn/product/<%= @product.id %>/change_name", params, function(response) {
                update_log();
            });
          }
        });

        $( "#sandthorn_product_price" ).change(function() {
          if ($("#tasked_based").is(':checked'))
          {
            params = { price: $("#sandthorn_product_price").val() };
            $.post("/sandthorn/product/<%= @product.id %>/change_price", params, function(response) {
                update_log();
            });
          }
        });

        $( "#sandthorn_product_stock_status_instock" ).change(function() {
          if ($("#tasked_based").is(':checked'))
          {
            $.post("/sandthorn/product/<%= @product.id %>/in_stock", {}, function(response) {
                $(".glyphicon").hide();
                $("#sandthorn_product_stock_status_instock_icon").addClass( "glyphicon glyphicon-ok-circle" );
                $("#sandthorn_product_stock_status_instock_icon").show();
                update_log();
            });
          }
        });

        $( "#sandthorn_product_stock_status_outofstock" ).change(function() {
          if ($("#tasked_based").is(':checked'))
          {
            $.post("/sandthorn/product/<%= @product.id %>/out_of_stock", {}, function(response) {
                $(".glyphicon").hide();
                $("#sandthorn_product_stock_status_outofstock_icon").addClass( "glyphicon glyphicon-ban-circle" );
                $("#sandthorn_product_stock_status_outofstock_icon").show();
                update_log();
            });
          }
        });

        $( "#sandthorn_product_stock_status_discontinued" ).change(function() {
          if ($("#tasked_based").is(':checked'))
          {
            $.post("/sandthorn/product/<%= @product.id %>/discontinue", {}, function(response) {
                $(".glyphicon").hide();
                $("#sandthorn_product_stock_status_discontinued_icon").addClass( "glyphicon glyphicon-remove-circle" );
                $("#sandthorn_product_stock_status_discontinued_icon").show();
                update_log();
            });
          }
        });
    });
</script>