<div class="row editing">
    <div class="col-sm-12">
        <h2>Editing Sandthorn product</h2>

        <form accept-charset="UTF-8" action="/sandthorn/product/<%= @product.id %>/update" method="post">


        <div class="jumbotron clearfix">
            <div class="form-group clearfix">
                <label for="sandthorn_product_name" class="col-sm-3 ">Name</label>
                <div class="col-sm-9">
                    <input id="sandthorn_product_name" name="sandthorn_product[name]" type="text" class="form-control" placeholder="Name" value="<%= @product.name %>">
                </div>
            </div>
            <div class="form-group clearfix">
                <label for="sandthorn_product_price" class="col-sm-3 ">Price</label>
                <div class="col-sm-9">
                    <input id="sandthorn_product_price" name="sandthorn_product[price]" type="text" class="form-control" placeholder="Price" value="<%= @product.price %>">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-3 ">Stock Status</label>
                <div class="col-sm-9">
                    <div class="btn-group btn-group-sm stock-status" data-toggle="buttons">
                        <label id="sandthorn_product_stock_status_instock_label" class="btn btn-<%= 'success active' if @product.stock_status == 'instock' %><%= 'default' if @product.stock_status != 'instock' %>">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                            <input <%= 'checked' if @product.stock_status == 'instock' %> id="sandthorn_product_stock_status_instock" class="stock_status" name="sandthorn_product[stock_status]" type="radio" value="instock"> In stock
                        </label>
                        <label  id="sandthorn_product_stock_status_outofstock_label" class="btn btn-<%= 'warning active' if @product.stock_status == 'outofstock' %><%= 'default' if @product.stock_status != 'outofstock' %>">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                            <input <%= 'checked' if @product.stock_status == 'outofstock' %> id="sandthorn_product_stock_status_outofstock" class="stock_status" name="sandthorn_product[stock_status]" type="radio" value="outofstock"> Out of stock
                        </label>
                        <label id="sandthorn_product_stock_status_discontinued_label" class="btn btn-<%= 'danger active' if @product.stock_status == 'discontinued' %><%= 'default' if @product.stock_status != 'discontinued' %>">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                            <input <%= 'checked' if @product.stock_status == 'discontinued' %> id="sandthorn_product_stock_status_discontinued" class="stock_status" name="sandthorn_product[stock_status]" type="radio" value="discontinued"> Discontinued
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group clearfix">
                <label class="col-sm-3 ">On Sale</label>
                <div class="col-sm-9">
                     <div class="btn-group btn-group-sm on-sale" data-toggle="buttons">

                         <label  id="sandthorn_product_on_sale_true_label" class="btn btn-<%= 'success  active' if @product.on_sale %><%= 'default' if !@product.on_sale %>" for="sandthorn_product_on_sale_true">
                         <span class="glyphicon glyphicon-ok-circle"></span>
                            <input <%= 'checked' if @product.on_sale %> id="sandthorn_product_on_sale_true" name="sandthorn_product[on_sale]" type="radio" value="true">Yes</label>

                        <label  id="sandthorn_product_on_sale_false_label" class="btn btn-<%= 'danger  active' if !@product.on_sale %><%= 'default' if @product.on_sale %>" for="sandthorn_product_on_sale_false">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                            <input <%= 'checked' if !@product.on_sale %> id="sandthorn_product_on_sale_false" name="sandthorn_product[on_sale]" type="radio" value="false">No</label>
                    </div>

                </div>
            </div>

            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <input id="update_button" name="commit" type="submit" value="Update Product" class="btn btn-success">
                <label  class="btn btn-default pull-right">Ajax update
                    <input id="tasked_based" type="checkbox"></label>
            </div>
        </div>
         </form>

        <%= link_to '<span class="glyphicon glyphicon-chevron-left"></span> Back'.html_safe, "/sandthorn/product/#{@product.id}", class: "btn btn-sm btn-primary"  %>

        <div id="log_events">
            <%= render 'log' %>
        </div>

    </div>
</div>



<script type="text/javascript">

    function update_log(){
        $.get("/sandthorn/log", {}, function(response){
            $("#log_events").html(response)
        });
    }

    $(document).ready(function(){

        $("#tasked_based").click(function() {
          if ($("#tasked_based").is(':checked'))
          {
            $("#update_button").hide();
          }
          else
          {
            $("#update_button").show();
          }

        });


        $( "#sandthorn_product_name" ).change(function() {
          if ($("#tasked_based").is(':checked'))
          {
            params = { name: $("#sandthorn_product_name").val() };
            $.post("/sandthorn/product/<%= @product.id %>/change_name", params, function(response) {
                update_log();
            });
          }
        });

        $( "#sandthorn_product_price" ).change(function() {
          if ($("#tasked_based").is(':checked'))
          {
            params = { price: $("#sandthorn_product_price").val() };
            $.post("/sandthorn/product/<%= @product.id %>/change_price", params, function(response) {
                update_log();
            });
          }
        });

        $("#sandthorn_product_on_sale_true").change(function(){
            $(".on-sale label").removeClass( "btn-success btn-danger" );
            $(".on-sale label").addClass( "btn-default" );
            $("#sandthorn_product_on_sale_true_label").addClass( "btn-success" );

            if ($("#tasked_based").is(':checked'))
            {
                $.post("/sandthorn/product/<%= @product.id %>/put_on_sale", {}, function(response) {
                    $("#sandthorn_product_name").val(response.name)
                    $("#sandthorn_product_price").val(response.price)
                    update_log();
                });
            }
        });

        $("#sandthorn_product_on_sale_false").change(function(){
            $(".on-sale label").removeClass( "btn-success btn-danger" );
            $(".on-sale label").addClass( "btn-default" );
            $("#sandthorn_product_on_sale_false_label").addClass( "btn-danger" );

            if ($("#tasked_based").is(':checked'))
            {
                $.post("/sandthorn/product/<%= @product.id %>/remove_from_sale", {}, function(response) {
                    $("#sandthorn_product_name").val(response.name)
                    $("#sandthorn_product_price").val(response.price)
                    update_log();
                });
            }
        });

        $( "#sandthorn_product_stock_status_instock" ).change(function() {
          $(".stock-status label").removeClass( "btn-success btn-warning btn-danger" );
          $(".stock-status label").addClass( "btn-default" );
          $("#sandthorn_product_stock_status_instock_label").addClass( "btn-success" );

          if ($("#tasked_based").is(':checked'))
          {
            $.post("/sandthorn/product/<%= @product.id %>/in_stock", {}, function(response) {
                update_log();
            });
          }
        });

        $( "#sandthorn_product_stock_status_outofstock" ).change(function() {
          $(".stock-status label").removeClass( "btn-success btn-warning btn-danger" );
          $(".stock-status label").addClass( "btn-default" );
          $("#sandthorn_product_stock_status_outofstock_label").addClass( "btn-warning" );
          if ($("#tasked_based").is(':checked'))
          {
            $.post("/sandthorn/product/<%= @product.id %>/out_of_stock", {}, function(response) {
                update_log();
            });
          }
        });

        $( "#sandthorn_product_stock_status_discontinued" ).change(function() {
            $(".stock-status label").removeClass( "btn-success btn-warning btn-danger" );
            $(".stock-status label").addClass( "btn-default" );
            $("#sandthorn_product_stock_status_discontinued_label").addClass( "btn-danger" );
          if ($("#tasked_based").is(':checked'))
          {
            $.post("/sandthorn/product/<%= @product.id %>/discontinue", {}, function(response) {
                update_log();
            });
          }
        });
    });
</script>