<div class="row editing">
  <div class="col-sm-12">
    <h2>Showing Product</h2>
    <div class="jumbotron">
      <p class="lead">
        <strong>Name:</strong>
        <%= @product.name %>
        |
        <strong>Price:</strong>
        <%= @product.price %>
        |
        <strong>Stock status:</strong>
        <%= @product.stock_status %>

        <% if @product.on_sale %>
          |
          <strong>On sale</strong>
        <% end %>
      </p>
    </div>


    <p>
      <%= link_to '<span class="glyphicon glyphicon-chevron-left"></span> Back'.html_safe, "/sandthorn/products/index", class: "btn btn-sm btn-primary"  %>
      | <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, "/sandthorn/product/#{@product.id}/edit", class: "btn btn-sm btn-success"  %>
    </p>

    <%= render 'log' %>
  </div>
</div>